USE [BusManagement]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteEmployeeData]    Script Date: 9/7/2026 8:29:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_DeleteEmployeeData]
    @EmpId INT
AS
BEGIN
    -- No "SET NOCOUNT ON" here so EF Core gets the rowsAffected count!
    DELETE FROM EmployeeInfo
    WHERE EmpId = @EmpId;
END
