USE [BusManagement]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteFuelData]    Script Date: 9/12/2026 4:01:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[sp_DeleteFuelData]
    @FuelId INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Check if record exists before trying to delete
        IF NOT EXISTS (SELECT 1 FROM FuelInfo WHERE FuelId = @FuelId)
        BEGIN
            RAISERROR('Fuel record not found for the provided ID.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        DELETE FROM FuelInfo
        WHERE FuelId = @FuelId;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    END CATCH
END
