USE [BusManagement]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteMeterInfo]    Script Date: 9/7/2026 8:30:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_DeleteMeterInfo]
    @MeterId INT
AS BEGIN
    DELETE FROM MeterInfo
    WHERE MeterId=@MeterId
END