USE [BusManagement]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteBusData]    Script Date: 9/7/2026 8:27:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_DeleteBusData]
    @BusId INT
AS
BEGIN
    -- Notice we do NOT use "SET NOCOUNT ON;" here.
    -- EF Core's ExecuteSqlRawAsync needs SQL Server to return the 
    -- count of deleted rows so that your "rowsAffected" variable gets populated!

    DELETE FROM Bus -- Change 'Buses' if your actual table name is 'BusInfo'
    WHERE BusId = @BusId;
END
