USE [BusManagement]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBusByID]    Script Date: 9/7/2026 8:31:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_GetBusByID]
    @BusId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        BusId, 
        BusNum, 
        BusStartedDateAt, 
        IsActive 
    FROM Bus
    WHERE BusId = @BusId;
END
