USE [BusManagement]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllFuelInfo]    Script Date: 9/12/2026 4:02:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[sp_GetAllFuelInfo]
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT 
            FuelId, 
            BusId, 
            FuelQuentity, 
            FuelAmount, 
            RefuleDate
        FROM 
            FuelInfo WITH (NOLOCK)
        ORDER BY 
            RefuleDate DESC; -- Hamesha latest refuel date upar aayegi
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    END CATCH
END
