USE [BusManagement]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllBusInfo]    Script Date: 9/7/2026 8:30:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_GetAllBusInfo]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        BusId, 
        BusNum, 
        BusStartedDateAt, 
        IsActive 
    FROM Bus; -- Replace 'Buses' with your actual table name if it differs
END
