USE [BusManagement]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetFuelByID]    Script Date: 9/12/2026 4:02:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[sp_GetFuelByID]
    @FuelId INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT 
            FuelId, 
            BusId, 
            FuelQuentity, 
            FuelAmount, 
            RefuleDate
        FROM 
            FuelInfo WITH (NOLOCK)
        WHERE 
            FuelId = @FuelId;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    END CATCH
END
