USE [BusManagement]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetEmployeById]    Script Date: 9/7/2026 8:31:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_GetEmployeById]
    @EmpId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        EmpId, 
        Name, 
        Role, 
        ContactNumber, 
        Salary, 
        JoinDate, 
        BusId 
    FROM EmployeeInfo
    WHERE EmpId = @EmpId;
END
