USE [BusManagement]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMeterInfo]    Script Date: 9/7/2026 8:32:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_GetMeterInfo]
    @MeterId INT
AS BEGIN
    SET NOCOUNT ON;

    SELECT BusId,MeterId,MMR,EMR,MMRImgUrl,EMRImgUrl,TravelDate from MeterInfo Where MeterId=@MeterId
END