USE [BusManagement]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllMetersInfo]    Script Date: 9/7/2026 8:31:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_GetAllMetersInfo]
AS BEGIN
    SET NOCOUNT ON;

    SELECT BusId,MeterId,MMR,EMR,MMRImgUrl,EMRImgUrl,TravelDate from MeterInfo;
END