USE [BusManagement]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllDailyTripsInfo]    Script Date: 9/8/2026 8:49:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[sp_GetAllDailyTripsInfo]
AS
BEGIN
    SET NOCOUNT ON;

        SELECT 
            TripId, 
            BusId, 
            EmpId, 
            MeterId, 
            TripDate, 
            BusNum, 
            Name, 
            MMR, 
            EMR, 
            DistanceCoverd, 
            Average
        FROM 
            DailyTripInfo WITH (NOLOCK)
        ORDER BY 
            TripDate DESC; -- Typically, you want the newest trips first
    
END
