USE [BusManagement]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllEmployeeInfo]    Script Date: 9/7/2026 8:31:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_GetAllEmployeeInfo]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        EmpId, 
        Name, 
        Role, 
        ContactNumber, 
        Salary, 
        JoinDate, 
        BusId 
    FROM EmployeeInfo;
END
