USE [BusManagement]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertEmployee]    Script Date: 9/7/2026 8:32:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_InsertEmployee]
    @Name NVARCHAR(50),
    @Role NVARCHAR(50),
    @Salary DECIMAL(18,2),
    @ContactNumber NVARCHAR(20),
    @JoinDate DATETIME2,
    @BusId INT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO EmployeeInfo (Name, Role, Salary, ContactNumber, JoinDate, BusId)
    VALUES (@Name, @Role, @Salary, @ContactNumber, @JoinDate, @BusId);

    -- Dapper expects a single integer back, which is the new ID
    SELECT CAST(SCOPE_IDENTITY() AS INT);
END
