USE [BusManagement]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertMeterInfo]    Script Date: 9/7/2026 8:32:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_InsertMeterInfo]
    @BusId INT,
    @MorningMeterReading DECIMAL(18,2),
    @EveningMeterReading DECIMAL(18,2),
    @MorningMeterImgUrl NVARCHAR(50),
    @EveningMeterImgUrl NVARCHAR(50),
    @TravelDate DATETIME2
AS BEGIN
    SET NOCOUNT ON;

    INSERT INTO MeterInfo(BusId,MMR,EMR,MMRImgUrl,EMRImgUrl,TravelDate)
    VALUES(@BusId,@MorningMeterReading,@EveningMeterReading,@MorningMeterImgUrl,@EveningMeterImgUrl,@TravelDate);
    SELECT CAST(SCOPE_IDENTITY() AS INT);
END