USE [BusManagement]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertFuelData]    Script Date: 9/12/2026 4:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[sp_InsertFuelData]
    @BusId INT,
    @FuelQuentity DECIMAL(18,2),
    @FuelAmount DECIMAL(18,2),
    @RefuleDate DATETIME2
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- ADVANCED: Validation (Fuel quantity aur amount zero se kam nahi hona chahiye)
        IF @FuelQuentity <= 0 OR @FuelAmount < 0
        BEGIN
            RAISERROR('Fuel Quantity must be greater than zero and Fuel Amount cannot be negative.', 16, 1);
            RETURN;
        END

        DECLARE @InsertedIds TABLE (FuelId INT);

        INSERT INTO FuelInfo (BusId, FuelQuentity, FuelAmount, RefuleDate)
        OUTPUT INSERTED.FuelId INTO @InsertedIds
        VALUES (@BusId, @FuelQuentity, @FuelAmount, @RefuleDate);

        COMMIT TRANSACTION;

        -- Returning the newly created FuelId
        SELECT TOP 1 FuelId FROM @InsertedIds;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    END CATCH
END
