USE [BusManagement]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertBusData]    Script Date: 9/7/2026 8:32:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_InsertBusData]
    @BusNum NVARCHAR(150),
    @IsActive BIT,
    @BusStartedDateAt DATETIME2
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Bus (BusNum, IsActive, BusStartedDateAt)
    VALUES (@BusNum, @IsActive, @BusStartedDateAt);

    -- Return the newly created BusId back to EF Core
    SELECT CAST(SCOPE_IDENTITY() AS INT);
END
