USE [BusManagement]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertDailyTrip]    Script Date: 9/8/2026 8:49:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[sp_InsertDailyTrip]
    @Name NVARCHAR(50) = NULL,
    @EmpId INT,
    @MeterId INT,
    @BusNum NVARCHAR(150),
    @TripDate DATETIME2,
    @BusId INT,
    @MorningMeterReading DECIMAL(18,2),
    @EveningMeterReading DECIMAL(18,2),
    @DistanceCoverd DECIMAL(18,2),
    @Average DECIMAL(18,2)
AS
BEGIN
    -- Prevent extra result sets from interfering with SELECT statements
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- ADVANCED: Basic Data Validation
        -- Prevent negative distances (Assuming evening reading must be >= morning reading)
        IF @EveningMeterReading < @MorningMeterReading
        BEGIN
            RAISERROR('Evening meter reading (EMR) cannot be less than Morning meter reading (MMR).', 16, 1);
            RETURN;
        END

        DECLARE @InsertedIds TABLE (TripId INT);

        -- Insert the record and capture the new ID
        INSERT INTO DailyTripInfo (
            BusId, EmpId, MeterId, TripDate, BusNum, Name, 
            MMR, EMR, DistanceCoverd, Average
        )
        OUTPUT INSERTED.TripId INTO @InsertedIds
        VALUES (
            @BusId, @EmpId, @MeterId, @TripDate, @BusNum, @Name, 
            @MorningMeterReading, @EveningMeterReading, @DistanceCoverd, @Average
        );

        COMMIT TRANSACTION;

        -- Return the newly inserted TripId for Dapper's QuerySingleAsync<int>
        SELECT TOP 1 TripId FROM @InsertedIds;

    END TRY
    BEGIN CATCH
        -- Rollback if an error occurs within the transaction
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        -- Bubble up the exact error to the C# application
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
